.section-4 {
  display: flex;
  width: 100%;
  padding: 120px 0;
  .container {
    flex-direction: column;
    .title {
      margin-bottom: 60px;
    }
    .block-iner {
      display: flex;
      justify-content: space-between;
      .block {
        display: flex;
        width: 100%;
        max-width: 280px;
        flex-direction: column;
        align-items: center;
        padding: 55px 33px 28px;
        border: 1px solid #dddfe0;
        border-radius: 4px;
        .block-image {
          width: 80px;
          height: 80px;
          margin-bottom: 44px;
        }
        .block-text {
          max-width: 222px;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          color: #3d4b66;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .section-4 {
    display: flex;
    width: 100%;
    padding: 120px 0;
    .container {
      flex-direction: column;
      .title {
        margin-bottom: 60px;
      }
      .block-iner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .block {
          display: flex;
          width: 100%;
          max-width: 440px;
          flex-direction: column;
          align-items: center;
          padding: 32px 33px;
          border: 1px solid #dddfe0;
          border-radius: 4px;
          margin-bottom: 24px;
          .block-image {
            width: 80px;
            height: 80px;
            margin-bottom: 44px;
          }
          .block-text {
            max-width: 270px;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #3d4b66;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .section-4 {
    display: flex;
    width: 100%;
    padding: 60px 0;
    .container {
      flex-direction: column;
      .title {
        align-self: flex-start;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 40px;
      }
      .block-iner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .block {
          display: flex;
          width: 100%;
          max-width: 336px;
          flex-direction: column;
          align-items: center;
          padding: 32px 33px;
          border: 1px solid #dddfe0;
          border-radius: 4px;
          margin-bottom: 24px;
          .block-image {
            width: 64px;
            height: 64px;
            margin-bottom: 20px;
          }
          .block-text {
            max-width: 270px;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #3d4b66;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .section-4 {
    display: flex;
    width: 100%;
    padding: 60px 0;
    .container {
      flex-direction: column;
      .title {
        align-self: flex-start;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 40px;
      }
      .block-iner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .block {
          display: flex;
          width: 100%;
          max-width: 336px;
          flex-direction: column;
          align-items: center;
          padding: 32px 33px;
          border: 1px solid #dddfe0;
          border-radius: 4px;
          margin-bottom: 24px;
          .block-image {
            width: 64px;
            height: 64px;
            margin-bottom: 20px;
          }
          .block-text {
            max-width: 270px;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #3d4b66;
            text-align: center;
          }
        }
      }
    }
  }
}
